.footer {
  text-align: center;
  padding: 10px;
  background :linear-gradient(135deg, rgb(37, 99, 235), rgb(30, 64, 175));
  color: #ffcc00; /* gold text */
  border-radius: 12px 12px 0 0;
  margin-top: 40px;
  position: relative;
  font-size: 1rem;
}

.footer p {
  color: #ffffff;
}

.footer-links a {
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  margin: 0 5px;
}

.footer-links a:hover {
  text-decoration: underline;
}
